:root {
  font-family: Helvetica, Arial, sans-serif;
  --bgColor: #0d1117;
}

.textarea {
  width: 90%;
  height: 100vh;
  outline: none;
  border-radius: 6.5px;
}

body, .textarea{
  background-color: var(--bgColor);
  color: white;
}

