:root {
  --bgColor: #0d1117;
  font-size: 14px;
}

.textarea {
  width: 90%;
  height: 100vh;
  outline: none;
  border-radius: 6.5px;
}

body, .textarea{
  background-color: var(--bgColor);
  color: white;
}

