:root {
  font-family: Helvetica, Arial, sans-serif;
  --bgColor: rgb(17, 17, 24);
}

.textarea {
  width: 90%;
  height: 100vh;
  outline: none;
  border-radius: 6px;
}

body, .textarea{
  background-color: var(--bgColor);
  color: white;
}

